<div class="main-wrapper">
  <div class="main-content-wrapper">
    <div class="progress-container" [ngStyle]="{ 'width.px': height }">
      <div class="progress-bar"></div>
    </div>
    <div class="shrink-wrappeer-container {{ isMoved }}">
      <p style="text-align: center; color: white; margin-left: 20px">
        Forrester
      </p>
      <p style="text-align: center; color: white">
        Insights-Based Services Will Future-Proof BPO
      </p>
      <p style="text-align: center; color: white; margin-right: 20px">
        <img
          class="download-icon"
          src="../assets/images/download.svg"
          alt="download"
        />
      </p>
    </div>

    <!-- <div class="router-wrapper" appScollprogress>
  <router-outlet></router-outlet>
</div> -->
    <div class="header-wrapper">
      <div class="heading-title-wrapper">
        <p style="text-align: center; color: white; margin-left: 20px">
          Forrester
        </p>
        <p style="text-align: center; color: white; margin-right: 20px">
          <img
            class="download-icon"
            src="../assets/images/download.svg"
            alt="download"
          />
        </p>
      </div>
      <div class="header-content-text">
        <p>TRENDS REPORT</p>
        <p style="font-size: 30px; margin: 0px 20%">
          Insights-Based Services Will Future-Proof BPO
        </p>
        <p>
          Four Lessons From The Forrester Wave™: Insights-Driven Business
          Process Outsourcing, Q4 2020
        </p>
        <p>
          by Vasupradha Srinivasan with Ashutosh Sharma, Sukriti Dangi, Bill
          Nagel
        </p>
      </div>
      <div>
        <p style="color: white; margin-left: 10px">July 8, 2021</p>
      </div>
      <!-- <img src="../assets/images/banner.png" alt="" /> -->
    </div>
    <div class="about-wrapper">
      <p class="about-text">About Forrester Reprints</p>
      <p class="learn-text">
        Learn more about
        <a
          class="about-report"
          href="https://www.forrester.com/research/reprints/"
          target="_blank"
          >Forrester Reprints</a
        >
      </p>
    </div>
    <!-- <div class="header-shrink">
      <p style="text-align: center; color: white">
        Insights-Based Services Will Future-Proof BPO
      </p>
    </div> -->
    <div class="content-wrapper">
      <span class="content-heading">Why Read This Report</span>
      <p class="context-text">
        Insights-driven business process outsourcing (BPO) firms are an evolving
        breed of vendors that are moving away from traditional time-and-effort
        engagements to newer outcome-oriented engagements powered by insights.
        The Forrester Wave™: Insights-Driven Business Process Outsourcing, Q4
        2020 evaluated 13 vendors against 21 criteria. This report examines the
        four lessons that emerged from our assessment of insights-driven BPO
        vendor offerings and the reference customers and Forrester clients we
        spoke with.
      </p>
      <h2>Table of Contents</h2>
      <ul>
        <li>
          <p class="content-links">
            INSIGHTS-DRIVEN BPO FIRMS ARE CHANGING THE OUTSOURCING SERVICES
            LANDSCAPE
          </p>
        </li>
        <li>
          <p class="content-links">
            INSIGHTS AS A SERVICE IS EMERGING AS A DISTINCT BPO LINE OF BUSINESS
          </p>
        </li>
        <li>
          <p class="content-links">
            COHESIVE INSIGHTS-DRIVEN OFFERINGS ARE PRODUCTIZED
          </p>
        </li>
        <li>
          <p class="content-links">
            VERTICAL-SPECIFIC INSIGHTS-DRIVEN SERVICES CREATE
          </p>
        </li>
        <li>
          <p class="content-links">
            MONETIZING INSIGHTS-DRIVEN BPO SERVICES SECURES CREDIBILITY
          </p>
        </li>
      </ul>
    </div>
    <div class="{{ topClass }}">
      <button class="topBtn" (click)="onActivate($event)">
        <img
          class="moveToTop-wrapper-img"
          src="../assets/images/scroll_up.svg"
          alt=""
        />
      </button>
    </div>
    <div class="footer">
      <p class="footer-text">
        © 2022,<a
          class="footer-link"
          href="https://www.forrester.com/policies/copyright/"
          target="_blank"
        >
          Forrester Research, Inc. and/or its subsidiaries.
        </a>
        All rights reserved.
      </p>
    </div>
  </div>
</div>
